extends /templates/base

block head
  title Example / Home

  // Styles
  link(rel="stylesheet", href="styles-base.css")
  link(rel="stylesheet", href="styles-css.css")
  link(rel="stylesheet", href="styles-less.css")
  link(rel="stylesheet", href="styles-sass.css")
  link(rel="stylesheet", href="styles-stylus.css")

  // Scripts
  script(src="scripts-javascript.js")
  script(src="scripts-babel.js")
  script(src="scripts-coffeescript.js")
  script(src="scripts-typescript.js")

block body
  div.example Home
  div.example.link
    a(href="page.html") Page Link

  // External
  div.example.styles.css.css-external
  div.example.styles.less.less-external
  div.example.styles.sass.sass-external
  div.example.styles.stylus.stylus-external

  // Internal
  div.example.styles.css.css-internal
  div.example.styles.less.less-internal
  div.example.styles.sass.sass-internal
  div.example.styles.stylus.stylus-internal
