// Import "lib-external/styles/stylus.styl"
@import 'styles/stylus'

// Import "src/lib-internal/styles/stylus.styl"
@import 'lib-internal/styles/stylus'

.stylus:before
  content: "Loaded: Styles / Stylus"
